@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900');

body, h1.page-title, h2, h3 {
  font-family: 'Raleway', sans-serif !important;
}

.wrapper {
  display: block;
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0;
}

.page-title {
  text-align: center;
  margin: 20px;
  font-weight: 300;
}

.git-profile-avatar {
  width: 150px;
  height: 150px;
}