
<h1>Users</h1>
  <div class="row" ng-controller="userController">
    <div class="col-md-6">
      <form>
          <div class="form-group">
            <label>Search User:</label>
            <input type="text" name="user" data-ng-model="user" required>
          </div>
					<button class="btn btn-default" data-ng-click="searchUser()">Search</button>
        </form>
      </div>

      <div class="col-md-6">
        <div class="card card-outline-info" style="margin: 5px 5px;">
          <div class="card-block">
            <h3 class="card-title">LOGIN: {{userFound.login}}</h3>
						<h3 class="card-title">bio: {{userFound.bio}}</h3>
						<h3 class="card-title">Status: {{userFoundStatus}}</h3>
          </div>
      </div>
    </div>
	</div>

<style>
label{display:inline-block;}
input{display:block;}
</style>
