<div class="panel" ng-controller="searchController">
  <div class="panel-title">
    <h5>Search for users!</h5>
    
    <form name="searchForm">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" data-ng-model="username" id="username">
        <label class="mdl-textfield__label" for="username">Name</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" data-ng-model="location" id="location">
        <label class="mdl-textfield__label" for="location">Location</label>
      </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-ng-click="searchUser()">Search</button>
     </form>
  </div>
  
  <div class="mdl-card mdl-shadow--2dp" ng-repeat="found in userFound.items">  
      <div class="mdl-card__title mdl-card--expand">
        <h3 class="mdl-card__title-text">{{found.login}} {{found.bio}}</h3>
      </div>
      <img src="{{found.avatar_url}}" alt="profile_avatar" class="git-profile-avatar">
			<div class="mdl-card__supporting-text">
        {{found.bio}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           ui-sref="{{found.html_url}}">
          {{found.html_url}}
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           ui-sref="user({ userID: found.id})" ng-click="setData(found)">
          See more >>
        </a>
       </div>
	</div>
</div>
<style>
 .mdl-card{
   margin: 15px 0px;
 }

</style>